<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>Qualidade e Teste de Software - Controle de Estoque</title>

        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<body>
    <header>
        <a href="/produto">Gerenciar produtos</a>
        <a href="/movimentacao">Gerenciar movimentações</a>
        <a href="/usuario">Gerenciar usuários</a>
    </header>

    <footer>

    </footer>
</body>

</html>

