                    <div id="viewport" th:fragment="left-sidebar">
                      <!-- Sidebar -->
                      <div id="sidebar">
                        <header>
                          <a href="#">Controle de Estoque</a>
                        </header>
                        <ul class="nav">
                          <li>
                            <a href="/produto">
                              <i class="zmdi zmdi-view-dashboard"></i> Produtos
                            </a>
                          </li>
                          <li>
                            <a href="/movimentacao">
                              <i class="zmdi zmdi-link"></i> Movimentações
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="zmdi zmdi-widgets"></i> Usuários
                            </a>
                          </li>
                        </ul>
