<div id="viewport" th:fragment="left-sidebar">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">Controle de Estoque</a>
    </header>
    <ul class="nav row">
      <li class="col-md-12">
        <a href="/produto" id="produtos">Produtos</a>
      </li>
      <li class="col-md-12">
        <a href="/movimentacao" id="movimentacoes">Movimentações</a>
      </li>
      <li class="col-md-12">
        <a href="/perfil" id="perfil">Meu perfil</a>
      </li>
      <li class="col-md-12" th:if="${#session?.getAttribute('user') != null}" id="deslogar">
         <a href="/login/deslogar">Deslogar</a>
      </li>
    </ul>