<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="head :: head"></head>

<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active">IFG - Controle de Estoque</h2>

        <!-- Login Form -->
        <form action="/login/autenticar" method="post">
            <input type="email" id="login" name="email" class="fadeIn second" placeholder="Usuário" required>
            <input type="password" id="password" name="senha" class="fadeIn third" placeholder="Senha" required>
            <input type="submit" id="logar" class="fadeIn fourth" value="OK">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a id="cadastrar" class="underlineHover" href="/usuario">Não possui cadastro? Cadastre-se</a>
        </div>

    </div>
</div>

</body>

</html>