<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="head :: head"></head>

<body>
    <div th:insert="left-sidebar :: div"></div>
    <div class="container">
        <div id="cadastro" class="col-md-12">
            <form action="/movimentacao/cadastrar" method="post">
                <h5>Cadastrar nova movimentacao</h5>
                Tipo movimentação
                <select name="tipoMovimentacao">
                    <option th:each="tipoMovimentacao : ${T(br.edu.ifg.qtscontroleestoque.type.ETipoMovimentacao).values()}"
                            th:value="${tipoMovimentacao}"
                            th:text="${tipoMovimentacao}">
                    </option>
                </select>
                Produto
                <select name="codigoProduto">
                    <option th:each="produto : ${produtos}"
                            th:text="${produto.descricao}"
                            th:value="${produto.id}">
                    </option>
                </select>

                Quantidade <input name="quantidade">
                <input type="submit" value="Enviar">
                    <span th:if="${movimentacaoDto} != null"
                       th:text="${movimentacaoDto.mensagem}">
                </span>
            </form>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="movimentacoesRecentes" class="col-md-12">
            <table>
                <th>Identificador</th>
                <th>Data/Hora</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Operação</th>
                <tr th:each="movimentacao : ${movimentacoes}">
                    <td th:text="${movimentacao.id}"></td>
                    <td th:text="${movimentacao.dataMovimentacao}"></td>
                    <td th:text="${movimentacao.produto.descricao}"></td>
                    <td th:text="${movimentacao.quantidade}"></td>
                    <td th:text="${movimentacao.tipoMovimentacao}"></td>
                </tr>
            </table>
        </div>
    </div>


<footer>

</footer>
</body>

</html>

