<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="head :: head"></head>

<body>
    <div th:insert="left-sidebar :: div"></div>

    <div class="content">
            <div class="produtos col-md-12">
                <div id="produtocadastro" >
                    <h5>Cadastrar novo produto</h5>
                    <form action="/produto/cadastrar" method="post">
                        Descrição <input name="descricao" required>
                        Estoque máximo <input name="estoqueMaximo" type="number" required>
                        Estoque mínimo <input name="estoqueMinimo" type="number" required>
                        <input type="submit" value="Enviar"><br />
                        <span style="color: red" th:if="${produtoDto} != null"
                              th:text="${produtoDto.mensagemErro}">
                        </span>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <table id="produtoscadastrados">
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Saldo atual</th>
                    <th>Estoque máximo</th>
                    <th>Estoque mínimo</th>
                    <tr th:each="produto : ${produtos}">
                        <td th:text="${produto.id}"></td>
                        <td th:text="${produto.descricao}"></td>
                        <td th:text="${produto.saldoAtual}"></td>
                        <td th:text="${produto.estoqueMaximo}"></td>
                        <td th:text="${produto.estoqueMinimo}"></td>
                    </tr>
                </table>
            </div>
    </div>

    <footer>

    </footer>
</body>

</html>

