<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="head :: head"></head>

<body>
    <div th:insert="left-sidebar :: div"></div>

    <div class="content">
        <div class="row">
            <div class="produtos col-md-5">
                <div id="produtocadastro" >
                    <h5>Cadastrar novo produto</h5>
                    <form action="/produto/cadastrar" method="post">
                        <label>Descrição</label> <br/> <input name="descricao" required> <br/>
                        <label>Estoque máximo</label> <br/> <input name="estoqueMaximo" type="number" required><br/>
                        <label>Estoque mínimo</label> <br/> <input name="estoqueMinimo" type="number" required><br/>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <table id="produtoscadastrados">
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Saldo atual</th>
                    <th>Estoque máximo</th>
                    <th>Estoque mínimo</th>
                    <tr th:each="produto : ${produtos}">
                        <td th:text="${produto.id}"></td>
                        <td th:text="${produto.descricao}"></td>
                        <td th:text="${produto.saldoAtual}"></td>
                        <td th:text="${produto.estoqueMaximo}"></td>
                        <td th:text="${produto.estoqueMinimo}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>

