<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Qualidade e Teste de Software - Controle de Estoque</title>

    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header>
        <a href="/produto">Gerenciar produtos</a>
        <a href="/movimentacao">Gerenciar movimentações</a>
        <a href="">Gerenciar usuários</a>
    </header>

    <div class="content">
        <div class="produtos" >
            <div id="produto/cadastro">
                <h3>Cadastrar novo produto</h3>
                <form action="cadastrar" method="post">
                    Descrição <input name="descricao" required>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
        <table id="produtoscadastrados">
            <h3>Produtos cadastrados</h3>
            <th>Identificador</th>
            <th>Descrição</th>
            <th>Saldo atual</th>
            <tr th:each="produto : ${produtos}">
                 <td th:text="${produto.id}"></td>
                 <td th:text="${produto.descricao}"></td>
                 <td th:text="${produto.saldoAtual}"></td>
            </tr>
        </table>
    </div>


    <footer>

    </footer>
</body>

</html>

